body{
    text-align: center;
    background-image:url("background/1e.png");
    background-size:100vw 100vh;
    font-family: "Aboreto", system-ui;
   font-weight: 400;
   font-style: normal;
}

#book-image-ep4 {
  width: 400px;
  height: 600px;
}
#book-image-ep2 {
  width: 400px;
  height: 600px;
}
#book-image-ep3 {
  width: 400px;
  height: 600px;
}