body{
    text-align: center;
    background-image:url("background/1f.png");
    background-size:100vw 100vh;
    font-family: "Allison", cursive;
   font-weight: 400;
   font-style: normal;
}

#book-image-f1 {
    width: 200px;
    height: 300px;
  }

  #book-image-f2 {
    width: 200px;
    height: 300px;
  }


  #book-image-f3 {
    width: 200px;
    height: 300px;
  }

#hi1{
text-align: left;
}

#hi2{
text-align: right;
}