body{
    text-align: center;
    background-image:url("background/1f.png");
    background-size:100vw 100vh;
    font-family: "Allison", cursive;
   font-weight: 400;
   font-style: normal;
}

#f1 {
    width: 400px;
    height: 600px;
  }

  #f2 {
    width: 400px;
    height: 600px;
  }


  #f3 {
    width: 400px;
    height: 600px;
  }

#hi1{
text-align: left;
}

#hi2{
text-align: right;
}